<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>InfoPlist</key>
	<dict>
		<key>permission_location_services</key>
		<string>NSLocationWhenInUseUsageDescription</string>
		<key>permission_camera_explanation</key>
		<string>NSCameraUsageDescription</string>
		<key>permission_photo_library_explanation</key>
		<string>NSPhotoLibraryUsageDescription</string>
		<key>permission_add_photo_to_library</key>
		<string>NSPhotoLibraryAddUsageDescription</string>
	</dict>
</dict>
</plist>
